.largeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.descriptor {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5rem;
    /* justify-content: space-between; */
}

.location {
    padding-right: 1rem;
    font-size: 40px;
    font-family: Product Sans;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 5rem;
}

.titleText {
    font-size: 30px;
    font-family: Product Sans;
}

.subtitle1 {
    font-size: 14px;
    color: #919396;
}

.basicData {
    /* margin-left: 30em; */
    font-family: Product Sans;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.gray {
    color: #919396;
}

.data {
    height: 500px;
}

.search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 3rem;
}

.searchBar {
    width: 325px;
    height: 30px;
    border-radius: 100px;
    border: 1px black solid;
    text-decoration: none;
    font-family: Product Sans;
    text-indent: 18px;
    font-size: 14px;
}

.searchButton {
    border: none;
    margin-left: -63px;
    font-family: Product Sans;
    background-color: #4E50EB;
    color: white;
    border-radius: 100px;
    /* height: 30px; */
    width: 60px;
    cursor: pointer;
    font-size: 14px;

}

.searchButton:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.dataContainer {
    height: 500px;
    width: 80vw;
    /* background-color: #e9e9e9; */
    border-radius: 30px;
}

.locPart {
    display: flex;
    flex-direction: row;
}

.topInfo {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
}

.before {
    width: 100%;
}

.after {
    width: 100%;
}

.afterrrr  {
    position: relative;
    left: 20%;
}

.beforeeee {
    position: relative;
    left: 20%;
}

.dataBar {
    padding-top: 20px;
}

.dataBar:hover {
    transform: scale(1.05);
    animation-duration: 1.0s;
}

.bottomInfo {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.metrics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    margin-top: 4rem;
}

.green {
    color: rgb(35, 238, 35)
}

.changing {
    display: inline-block ;
}